:root{-webkit-tap-highlight-color:transparent;text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:2;font-synthesis:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html,body{height:100%;}
img,picture,video,canvas{display:block;max-width:100%;}
img{text-indent:-9999px;}
button{background:none;border:0;cursor:pointer;}
a{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul,menu,dir{list-style:none;}
*,:after,:before{--w-grow:initial;--w-align:initial;--h-grow:initial;--h-align:initial;}
*,:after,:before{
  --a-translate-x:0;
  --a-translate-y:0;
  --a-rotate:0;
  --a-skew-x:0;
  --a-skew-y:0;
  --a-scale-x:1;
  --a-scale-y:1;
  --a-transform: translateX(var(--a-translate-x)) translateY(var(--a-translate-y)) rotate(var(--a-rotate)) skewX(var(--a-skew-x)) skewY(var(--a-skew-y)) scaleX(var(--a-scale-x)) scaleY(var(--a-scale-y));
  --a-transform3d: translate3d(var(--a-translate-x),var(--a-translate-y),0) rotate(var(--a-rotate)) skewX(var(--a-skew-x)) skewY(var(--a-skew-y)) scaleX(var(--a-scale-x)) scaleY(var(--a-scale-y));
}
.c\(\#000\){color:#000;}
.c\(\#4f80ff\){color:#4f80ff;}
.c\(\#fff\){color:#fff;}
.font\(12\){font-size:12px;}
.font\(11\){font-size:11px;}
.font\(10\/1\.6\){font-size:10px;line-height:1.6;}
.font\(8\){font-size:8px;}
.bold{font-weight:bold;}
@media(hover:hover){.hover\:underline:hover,.hover\:underline.\:hover{text-decoration:underline;}}
.w\(fill\){flex-grow:var(--w-grow);flex-shrink:var(--w-shrink);align-self:var(--w-align);max-width:100%}.w\(fill\).h\(fill\),.w\(fill\).h\(stretch\){flex-grow:1;flex-shrink:1;align-self:stretch;max-width:100%;max-height:100%;}
.w\(400\){width:400px;}
.w\(hug\){width:max-content;}
.w\(48\){width:48px;}
.\>svg\:w\(\~100\%\)\+h\(auto\)>svg{max-width:100%;}
.h\(fill\){flex-grow:var(--h-grow);flex-shrink:var(--h-shrink);align-self:var(--h-align);max-height:100%;}
.h\(48\){height:48px;}
.\>svg\:w\(\~100\%\)\+h\(auto\)>svg{height:auto;}
.p\(10\){padding:10px;}
.p\(4\){padding:4px;}
.no-border{border:none;outline:none;}
.b\(\#000\.0\){border:solid 1px rgba(0,0,0,.0);}
@media(hover:hover){.hover\:b\(\#000\.04\)\+bg\(\#000\.05\):hover,.hover\:b\(\#000\.04\)\+bg\(\#000\.05\).\:hover{border:solid 1px rgba(0,0,0,.04);}}
.bb\(\#000\.05\){border-bottom:solid 1px rgba(0,0,0,.05);}
.r\(8\){border-radius:8px;}
.r\(4\){border-radius:4px;}
.bg\(--bg\){background:var(--bg);}
@media(hover:hover){.hover\:b\(\#000\.04\)\+bg\(\#000\.05\):hover,.hover\:b\(\#000\.04\)\+bg\(\#000\.05\).\:hover{background:rgba(0,0,0,.05);}}
.bg\(\#000\){background:#000;}
.clip{overflow:hidden;}.clip:has(.nowrap\.\.\.){flex-shrink:1;}
.scroll-x{overflow-x:auto;overflow-y:hidden;}
.scroll-y{overflow-x:hidden;overflow-y:auto;}
.pre{white-space:pre-wrap;}
.hbox\(fill\){display:flex;flex-flow:row;align-items:stretch;}:where(.hbox\(fill\)>*){flex-shrink:0;--w-grow:1;--w-shrink:1;--w-align:initial;--h-grow:initial;--h-shrink:0;--h-align:stretch;}
.hbox{display:flex;flex-flow:row;align-items:center;}:where(.hbox>*){flex-shrink:0;--w-grow:1;--w-shrink:1;--w-align:initial;--h-grow:initial;--h-shrink:0;--h-align:stretch;}
.vbox{display:flex;flex-flow:column;align-items:stretch;}:where(.vbox>*){flex-shrink:0;--h-grow:1;--h-shrink:1;--h-align:initial;--w-grow:initial;--w-shrink:0;--w-align:stretch;}
.pack{display:flex;align-items:center;justify-content:center;}:where(.pack>*){flex-shrink:0;--w-grow:1;--w-shrink:1;--w-align:initial;--h-grow:initial;--h-shrink:0;--h-align:stretch;}
.gap\(4\){gap:4px;grid-gap:4px;}
.items-end{align-items:flex-end;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.space-between{justify-content:space-between;align-content:space-between;}
.flex-wrap{flex-wrap:wrap;}:where(.flex-wrap>*){max-width:100%;max-height:100%;}
.layer{position:absolute;top:0;right:0;bottom:0;left:0;}
.layer\(top\+right\){position:absolute;top:0;right:0;}
.relative{position:relative;}
.\>\>cursor\(default\) *{cursor:default;}
.scale\(0\.8\){--a-scale-x:0.8;--a-scale-y:0.8;--a-scale-z:0.8;transform:var(--a-transform);}
.\>svg\:drop-shadow\(0\/0\/1\/\#000\.5\)>svg{filter:drop-shadow(0 0 1px rgba(0,0,0,.5));-webkit-filter:drop-shadow(0 0 1px rgba(0,0,0,.5));}
.\>img\:drop-shadow\(0\/0\/1\/\#000\.5\)>img{filter:drop-shadow(0 0 1px rgba(0,0,0,.5));-webkit-filter:drop-shadow(0 0 1px rgba(0,0,0,.5));}